.ext-wikisource-ocr-onboarding-dot {
	position: absolute;
	left: 50%;
	top: 100%;
	cursor: pointer;
	z-index: 3;
}

.ext-wikisource-ocr-onboarding-popup {
	.oo-ui-popupWidget-body-padded {
		margin: 12px;
	}

	.ext-wikisource-icon-ocr-onboarding {
		height: 148px;
	}

	.ext-wikisource-ocr-onboarding-button {
		margin-top: 24px;
	}
}
