@import 'mediawiki.ui/variables';

.ext-wikisource-TextBoxWidget {
	background-color: @colorGray14;
	display: flex;
	align-items: center;
	bottom: auto;
	font-weight: bolder;
	border-color: @colorGray12;
	border-width: 1px 0;
	border-style: solid;

	.ext-wikisource-TextBoxWidget-icon {
		margin: 0 1em;
	}

	.oo-ui-labelElement {
		margin-right: 2em;
	}

	&.ext-wikisource-UndoWidget {
		justify-content: space-between;
		padding-left: 8px;
	}
}
